<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../static/thread.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="grid-container">
        <h1>{{ thread_title }}</h1>
        <div class="thread_data">
            {{ thread_content }}
            <hr>
            <span style="font-size:small">Luoja: <u><b>{{ thread_username }}</b></u> @ {{ thread_time }} | ID: {{ thread_id }} | Vastauksia: {{ reply_count }}</span>
        </div>
        <a href="/main/{{ board_id }}" class="exit_button">Poistu keskustelusta</a>
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    <span style="font-size:small">{{ message[0][0] }} | <u><b>{{ message[1][0] }}</b></u> @ {{ message[2] }}:</span>
                    {{ message[0][1] }} <br>
                    {% if session.username == message[1][0] or admin %}
                        <a href="/editreply/{{ message[0][0] }}" class="edit_button">Muokkaa vastausta</a>
                    {% endif %}
                    {% if admin %}
                        <form action="/deletereply" method="POST">
                            <input type="hidden" name="message_id" value="{{ message[0][0] }}">
                            <input type="hidden" name="thread_id" value="{{ thread_id }}">
                            <input type="hidden" name="board_id" value="{{ board_id }}">
                            <input type="submit" value="(Ylläpitäjä) Poista vastaus">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div> 
        <div class="reply">
            {% if session.username %}
                <form action="/reply" method="POST" class="reply_area">
                    <label for="content">Vastaa keskusteluun:</label>
                    <input type="hidden" name="thread_id" value="{{ thread_id }}">
                    <input type="hidden" name="board_id" value="{{ board_id }}">
                    <textarea name="content" rows="10"></textarea>
                    <input type="submit" value="Vastaa" id="reply_button">
                </form>
            {% else %}
                <p>Et ole kirjautunut sisään, <a href="/">siirry etusivulle</a></p>
            {% endif %}
        </div>
    </div>
</body>